@model OldWorldTools.Models.WFRPCharacter.Skill

@{
    ViewBag.Title = "WFRP Character Generator";
}

<h2>Add New Skill Definition</h2>

@using (Html.BeginForm("AddSkill", "Character", FormMethod.Post))
{
    <div>
        <div>
            @Html.LabelFor(model => model.Name)
        </div>
        <div>
            @Html.TextBoxFor(model => model.Name)
        </div>
    </div>

    <div>
        <div>
            @Html.LabelFor(model => model.LinkedCharacteristic)
        </div>
        <div>
            @Html.DropDownListFor(s=>s.LinkedCharacteristic, Model.CharacteristicsAvailable)
        </div>
    </div>

    <div>
        <div>
            @Html.LabelFor(model => model.Advanced)
        </div>
        <div>
            @Html.CheckBoxFor(model => model.Advanced)
        </div>
    </div>

    <div>
        <div>
            @Html.LabelFor(model => model.Grouped)
        </div>
        <div>
            @Html.CheckBoxFor(model => model.Grouped)
        </div>
    </div>

    <div>
        <div>
            @Html.LabelFor(model => model.Description)
        </div>
        <div>
            @Html.TextAreaFor(model => model.Description, 10,40, htmlAttributes: new {style="width: 100%; max-width: 100%;" })
        </div>
    </div>

    <!-- Add other input fields as needed -->

    <div>
        <button type="submit">Add Skill</button>
    </div>
}